body {
    background-color: #F5F5F5; /* Light background */
    font-family: Arial, sans-serif;
    color: #262626; /* Dark text */
}

.form-container {
    max-width: 450px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(38, 38, 38, 0.2);
    margin: 50px auto;
    border: 2px solid #C4877A; /* Warm brown border */
}

.form-label {
    font-weight: bold;
    font-size: 14px;
    color: #262626; /* Dark grey */
}

.form-control {
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #C4877A;
    background-color: #F5F5F5;
    color: #262626;
}

.form-control:focus {
    border-color: #C4877A;
    box-shadow: 0px 0px 5px rgba(196, 135, 122, 0.5);
}

.btn-primary {
    background-color: #C4877A; /* Warm brown */
    border: none;
    transition: 0.3s;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #a86e62; /* Slightly darker brown */
}

.form-check-input:checked {
    background-color: #C4877A;
    border-color: #C4877A;
}

.file-input {
    border: 1px solid #C4877A;
    padding: 6px;
    border-radius: 6px;
    background-color: white;
    width: 100%;
    font-size: 14px;
    color: #262626;
}

::placeholder {
    color: #8e8e8e; /* Subtle grey placeholder text */
}