{% extends "base.html" %}
    
    
{% block title%}
    Add Product Page
{% endblock %}


{% block content %}

    
    <table>
        <thead>
            <tr>
            
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">CURRENT PRICE</th>
                <th scope="col">PREVIOUS PRICE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">STOCK AVAILABLE</th>
                <th scope="col">SALE</th>
                <th scope="col">PRODUCT PICTURE</th>
            
            </tr>
        </thead>
        
        <tbody>
            <tr>
            
                <form action="" method="post" enctype="multipart/form-data">
                
                    {{ form.csrf_token }}
                    {{form}}
                    <td>{{form.product_name(placeholder= " PRODUCT NAME " )}} </td>
                    <td>{{form.current_price(placeholder= " CURRENT PRICE " )}}</td>
                    <td>{{form.previous_price(placeholder=" PREVIOUS PRICE ")}}</td>
                    <td>{{form.description(placeholder=" DESCRIPTION ")}}</td>
                    <td>{{form.category(placeholder=" CATEGORY ")}}</td>
                    <td>{{form.in_stock(placeholder=" PRESENT STOCK ")}}</td>
                    <td>{{form.sale(placeholder=" IS IT ON SALE ?? ")}}</td>
                    <td>{{form.product_picture}}</td>
                
                
                    <td>{{ form.add_product() }}</td>
                    
                </form>
            
            </tr>
        
        </tbody>
    
        
    
    
    </table>


{% endblock %}

