{% extends "base.html" %}

{% block title %} Admin Panel - Fashion Finds {% endblock %}


{% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<!-- <link rel="stylesheet" href="/app/static/styles.css"> -->

    <div>
        <main class="admin-container">
            <div class="admin-sidebar">
                <div class="admin-info">
                    <img src="{{ url_for('static', filename='images/male_avatar.png') }}" alt="Admin Avatar" class="admin-avatar">
                    <h3>Admin</h3>
                    <p>Email: admin@store.com</p>
                    <p>Phone: +91 **********</p>
                </div>
                <a href="{{ url_for('admin.add_products') }}" style="text-decoration: none;">
                    <button class="admin-btn">Add Products</button>
                </a>
                <a href="{{ url_for('admin.view_products') }}" style="text-decoration: none;">
                    <button class="admin-btn">View Products</button>
                </a>
                <button class="admin-btn">Delivery Status</button>
                <button class="admin-btn">Change Password</button>
            </div>

            <div class="admin-content">

                <h3>Product Section</h3>
                <div class="products-container">
                    
                    {% for item in items%}
                    <div class="product-card">
                        <img src="{{ item.product_picture }}" alt="{{ item.product_name }}" style="height: 230px;width: 230px;margin-top: 10px;">
                        <h4>{{ item.product_name }}</h4>
                        <p>{{ item.current_price }}</p>
                    </div>
                    {% endfor%}
                    

                </div>
            </div>
        </main>
    </div>
    
{% endblock %}