<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer_review.css') }}">
    <title>Rate Products</title>
</head>
<body>
  <div  class="product-rating-container">
    {% for order in user.orders %}
        {% if not order.has_rated and order.delivery_status == "Delivered"%}
            {% set product = order.product %}
            
              <div class="card">
                <img src="{{ url_for('static', filename=product.product_picture[2:]) }}"
                     alt="{{ product.product_name }}" class="product-image">
                <h1>Rate {{ order.product_name }}</h1>
                <form method="post" action="{{ url_for('views.customer_review', user_id=user.id, order_id=order.id, token=token) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <div class="star-rating">
                        <input id="star5" type="radio" name="rating" value="5">
                        <label for="star5" title="5 stars">&#9733;</label>
                        <input id="star4" type="radio" name="rating" value="4">
                        <label for="star4" title="4 stars">&#9733;</label>
                        <input id="star3" type="radio" name="rating" value="3">
                        <label for="star3" title="3 stars">&#9733;</label>
                        <input id="star2" type="radio" name="rating" value="2">
                        <label for="star2" title="2 stars">&#9733;</label>
                        <input id="star1" type="radio" name="rating" value="1">
                        <label for="star1" title="1 star">&#9733;</label>
                    </div>
                    <br>
                    <button type="submit">Submit Rating</button>
                </form>
              </div>
            
        {% endif %}
    {% endfor %}
  </div>
    <script>
        const stars = document.querySelectorAll('.star-rating input');
        stars.forEach(star => {
            star.addEventListener('change', () => {
                console.log('Rating selected:', star.value);
            });
        });
    </script>
</body>
</html>