{% extends "base.html" %}
    
    
{% block title%}
    Update Product Page
{% endblock %}


{% block content %}

    <style>
        form {
            font-size: medium;
            align-content: center;
            margin-right: 785px;
            margin-left: 750px ;
            margin-top: 150px;
        }
    </style>

    <form action="" method="post" enctype="multipart/form-data">
                
        {{ form.csrf_token }}
        <br><br>

        {{form.product_name.label()}} 
        {{form.product_name}} <br> <br>

        {{form.current_price.label()}} 
        {{form.current_price}} <br> <br>

        {{form.previous_price.label()}} 
        {{form.previous_price}} <br> <br>

        {{form.description.label()}} 
        {{form.description}} <br> <br>

        {{form.category.label()}} 
        {{form.category}} <br> <br>

        {{form.quantity.label()}} 
        {{form.quantity}} <br> <br>

        {{form.size_small.label()}} 
        {{form.size_small}} <br> <br>

        {{form.size_medium.label()}} 
        {{form.size_medium}} <br> <br>

        {{form.size_large.label()}} 
        {{form.size_large(placeholder=" size_large ")}} <br> <br>

        {{form.sale.label()}} 
        {{form.sale}} <br> <br>

        {{form.product_picture.label()}} 
        {{form.product_picture}} <br> <br>
    
    
        {{ form.update_product() }} <br>
        
    </form>




{% endblock %}

